body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	box-sizing:border-box;
	
}
header{
	justify-content:space-between;
	background:blue;
	height:50px;
	align-items:center;
	padding:0 2em;
}

img{
	margin-right:4em;
	height:40px;
	border-radius:15px;
	border:1px solid black;
}


nav a{
	box-sizing:border-box;
	font-size:16px;
	font-weight:600;
	color:black;
	height:50px;
	margin-left:0.7em;
	transition: 0.6s all ease;
}

nav a:hover{
	color:white;
	font-size:18px;
}



.file-input__input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; 
}


